In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 5)
print("Setup complete.")

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://storage.googleapis.com/kaggle-media/learn/images/Ax3pp2A.png)

In [ ]:
fruits = pd.DataFrame({'Apples':[30], 'Bananas':[21]})

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://storage.googleapis.com/kaggle-media/learn/images/CHPn7ZF.png)

In [ ]:
fruit_sales = pd.DataFrame({
    'Apples':[35,41],
    'Bananas':[21,34]},
    index = ['2017 Sales', '2018 Sales'])

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

Create a variable ingredients with a Series that looks like:

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [16]:
ingredients = pd.Series({
    'Flour': '4 cups',
    'Milk': '1 cup',
    'Eggs': '2 large',
    'Spam': '1 can'
}, name='Dinner')

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

Read the following csv dataset of wine reviews into a DataFrame called reviews:

![](https://storage.googleapis.com/kaggle-media/learn/images/74RCZtU.png)

In [ ]:
reviews = pd.read_csv('../input/wine-reviews/winemag-data_first150k.csv', index_col=0)

animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

CONVERTIR ESE CÃ“DIGO EN UN ARCHIVO CSV.

In [ ]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

animals.to_csv('cows_and_goats.csv')