In [1]:
import pandas as pd

In [2]:
pd.DataFrame( {'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [ ]:
pd.DataFrame( {
    'Bob':['Me gusta', 'no me gusta'],
    'Sana':['Bueno', 'Malo']},
    index=['Producto A', 'Producto B'])

                    Bob   Sana
Producto A     Me gusta  Bueno
Producto B  no me gusta   Malo

In [6]:
pd.Series([1,2,3,4,5],
          index=['a', 'b', 'c', 'd', 'e'],
          name='Serie de ejemplo')

a    1
b    2
c    3
d    4
e    5
Name: Serie de ejemplo, dtype: int64

In [10]:
datosCoches = pd.read_csv('cars.csv')
datosCoches.shape
#datosCoches.head()

(407, 1)

In [14]:
datosCoches2 = pd.read_csv('cars.csv', index_col=0)
datosCoches2.head()

Empty DataFrame
Columns: []
Index: [STRING;DOUBLE;INT;DOUBLE;DOUBLE;DOUBLE;DOUBLE;INT;CAT, Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US, Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US, Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US, AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US]